<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminQnADAO">

<!-- qna 작성 -->
<insert id="insertQnA" parameterType="QnAVO">
INSERT INTO 
	qna(q_no, q_title, q_content, q_date,
	    q_writer,  q_pass)
	VALUES(qna_no_seq.NEXTVAL, #{qTitle}, #{qContent},
	 	sysdate, #{qWriter}, #{qPass})
</insert>

<!-- qna 목록 출력 (번호, 제목, 날짜, 작성자)-->
<select id="getQnAList" resultType="QnAVO">
SELECT to_CHAR(q_date, 'YY/MM/DD') q_date, q_title, q_writer, q_content,
		q_no, qr_content, to_char(qr_date, 'YY/MM/DD') qr_date , q_pass
FROM qna
ORDER BY q_no desc
</select>

<!-- qna 상세 보기 -->
<select id="getQnA" parameterType="QnAVO" resultType="QnAVO">
SELECT *
FROM qna
WHERE q_no=#{qNo}
</select>

<!-- qna 답변 작성  admin은 qr_contet와 qr_date만 입력, update로 -->
<update id="updateQnA" parameterType="QnAVO">
UPDATE qna SET
qr_content=#{qrContent},
qr_date=sysdate
WHERE q_no=#{qNo}
</update>

</mapper>